<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient details</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <h1>📋 Registered Patients</h1>

        <pre><%= patient %></pre>

        <a href="/">
            <button>Back to Home</button>
        </a>

    </div>
</body>

</html>