<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <h1>✅ Registration Successful</h1>

        <h3>Patient no. <%= count %> has been saved.</h3>

        <div class="button-group">

            <a href="/">
                <button>Add Another Patient</button>
            </a>

            <a href="/patientDetails">
                <button class="secondary-btn">View Patient Details</button>
            </a>

        </div>

    </div>
</body>

</html>